.searchPageWrapper {
  display: flex;
  justify-content: center;
}

.button-dss {
  align: center;
  padding-bottom: 10px;
  text-align: center;
}

.btn-primary {
  border-radius: 5px !important;
  color: #fff;
  background-color: #0eaaa6 !important;
  border-color: #0eaaa6 !important;
  padding: 5px 15px;
}

.btn-primary-search:hover {
  color: #fff;
  background-color: #068b85 !important;
  border-color: #068b85 !important;
}

.requirements {
  color: #0eaaa6;
  text-align: center;
  vertical-align: center;
}

.searchForm {
  margin: 20px;
  width: 100%;
  padding: 20px 30px;
  max-width: 1400px;
}

@media screen and (max-width: 767px) {
  .resultTab ul {
    padding-left: 10px;
  }
  .resultTab {
    margin-left: -10px;
  }
  .searchForm {
    padding: 15px 5px;
  }
}

.row {
  justify-content: center;
  text-align: center;
}

.nohouses {
  display: block;
  color: #0eaaa6;
  text-align: center;
  padding-bottom: 20px;
}

.nohouses span {
  color: #999;
}

.single-house {
  width: 100%;
}